@media only screen and (max-width: 1024px) and (min-width: 801px)
{
	.confirm
	{
		.content-confirm
		{
			width: 100%;
			li 
			{
				margin: auto 0;
				img 
				{
					height: 100%;
					width: 100%;
				}
			}
		}
	}
}
@media only screen and (max-width: 800px) and (min-width: 769px)
{
	.confirm
	{
		.content-confirm
		{
			width: 100%;
			li 
			{
				height: 100%;
    			width: 25%;
				img 
				{
					height: 85%;
				    width: 100%;
				    margin-top: 20px;
				}
			}
		}
	}
}
@media only screen and (max-width: 768px) and (min-width: 601px)
{
	.confirm
	{
		.content-confirm
		{
			width: 100%;
			li 
			{
				height: 100%;
    			width: 25%;
				img 
				{
					height: 85%;
				    width: 100%;
				    margin-top: 20px;
				}
			}
		}
	}
}
@media only screen and (max-width: 600px) and (min-width: 415px)
{
	.confirm
	{
		height: 200px;
		.content-confirm
		{
			width: 100%;
			li 
			{
				height: 100%;
    			width: 25%;
				img 
				{
					height: 85%;
				    width: 100%;
				    margin-top: 20px;
				}
			}
		}
	}
}
@media only screen and (max-width: 414px) and (min-width: 412px)
{
	.confirm
	{
		height: 120px;
		.content-confirm
		{
			width: 100%;
			li 
			{
				height: 100%;
    			width: 25%;
				img 
				{
					height: 85%;
				    width: 100%;
				    margin-top: 10px;
				}
			}
		}
	}
}
@media only screen and (max-width: 411px) and (min-width: 385px)
{
	.confirm
	{
		height: 120px;
		.content-confirm
		{
			width: 100%;
			li 
			{
				height: 100%;
    			width: 25%;
				img 
				{
					height: 85%;
				    width: 100%;
				    margin-top: 10px;
				}
			}
		}
	}
}
@media only screen and (max-width: 384px) and (min-width: 376px)
{
	.confirm
	{
		height: 120px;
		.content-confirm
		{
			width: 100%;
			li 
			{
				height: 100%;
    			width: 25%;
				img 
				{
					height: 85%;
				    width: 100%;
				    margin-top: 10px;
				}
			}
		}
	}
}
@media only screen and (max-width: 375px) and (min-width: 361px)
{
	.confirm
	{
		height: 120px;
		.content-confirm
		{
			width: 100%;
			li 
			{
				height: 100%;
    			width: 25%;
				img 
				{
					height: 85%;
				    width: 100%;
				    margin-top: 10px;
				}
			}
		}
	}
}
@media only screen and (max-width: 360px) and (min-width: 321px)
{
	.confirm
	{
		height: 120px;
		.content-confirm
		{
			width: 100%;
			li 
			{
				height: 100%;
    			width: 25%;
				img 
				{
					height: 85%;
				    width: 100%;
				    margin-top: 10px;
				}
			}
		}
	}
}
@media only screen and (max-width: 320px)
{
	.confirm
	{
		height: 100px;
		.content-confirm
		{
			width: 100%;
			li 
			{
				height: 100%;
    			width: 25%;
				img 
				{
					height: 85%;
				    width: 100%;
				    margin-top: 10px;
				}
			}
		}
	}
}
