$mg-T-large:135px;
$mg-T-small:75px;

$height-large:70px;
$height-small:55px;

$f-cl-black:#364257;
$f-cl-white:white;

$l-height-large:37px;
$l-height-small:30px;

$bor-cl-gray:gray;
$bor-cl-white:white;

//width responsive
$max-w-desktop:1920px;
