*
{
	margin: 0;
	padding: 0;
}
.accessories
{
	height: 800px;
	width: 100%;
	background:white;
	.content-accessories
	{
		height: 100%;
		width: 1000px;
		margin: 0 auto;
		flex-direction: column;
		.text
		{
			height: 40%;
			width: 100%;
			text-align: center;
			h2 
			{
				color: #515b69;
				font-size: 50px;
				font-weight:normal; 
				padding-top: 90px;
			}
			p 
			{
				font-size: 21px;
			    line-height: 30px;
			    padding-top: 20px;
			    color: #7f8795;
			    width: 69%;
			    margin: 0 auto;
			}
		}
		.picture
		{
			height: 60%;
			width: 100%;
			display: flex;
			justify-content: center;
			.pic 
			{
				height: 100%;
				width: 30.3%;
    			margin: 0 auto;
				li 
				{
					list-style: none;
					text-align: center;
					img 
					{
						height: 260px;
    					width: 270px;
					}
					h5 
					{
						font-size: 25px;
					    font-weight: normal;
					    padding-top: 20px;
					    color: #515b69;
					}
					a 
					{
						text-decoration: none;
					    color: white;
					    background: #72849C;
					    padding: 10px 20px 10px 20px;
					    border-radius: 2px;
					    font-weight: bold;
					    font-size: 11px;
					    transition: 1s;
					}
					a:hover
					{
						background-color: #35BAF2;
					}
				}
				li:nth-child(3)
				{
					justify-content: center;
					display: flex;
					padding-bottom: 20px;
    				padding-top: 15px;
    				font-size: 18px;
    				#pr
					{
						color: #7f8795;
						text-decoration: line-through;
					}
					#line
					{
						color: #7f8795;
						padding: 0 5px 0 5px;
					}
					p 
					{
						color: #35baf2;
					}
				}
			}
		}
	}
}