*
{
	margin: 0;
	padding: 0;
}
.menu-mobile
{
	display: none;
	width: 100%;
	background-color: #90A8AD;
	ul 
	{
		width: 100%;
		font-size: 12px;
		li 
		{
			list-style: none;
			border-top: 1px solid #a7babe;
    		padding: 15px 0px 15px 50px;
    		transition: 0.5s;
			a 
			{
				text-decoration: none;
				color: white; 
			}
		}
		li:hover
		{
			background-color:#98afb3; 
			cursor: pointer;
		}
	}
}