@import "../../helper/mixin.scss";

*
{
	margin: 0;
	padding:0; 
}
.main 
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	.groom
	{
		width: 50%;
		background-image: url('../images/groom_bg.jpg');
		background-position: center;
		background-size: cover;
		text-align: center;
		@include main-content;
	}
	.bride
	{
		width: 50%;
		background-image: url('../images/bride_bg.jpg');
		background-position: center;
		background-size: cover;
		text-align: center;
		@include main-content;
	}
}