
//head
.head
{
	.nav
	{

		.logo
		{

			img 
			{

			}
		}
		.menu 
		{

			li 
			{

				a 
				{

				}
			}
		}
		.cart
		{

			#btn-order
			{

			}
			i 
			{
				
			}
		}
	}
	.bg-head
	{

		.get 
		{

			h1 
			{

			}
			h4 
			{

			}
			a 
			{

			}

		}
		.watches
		{

		}
		.shape1
		{

		}
		.shape2
		{
	
		}
		.shape3
		{
		
		}
		.setting
		{
			i 
			{
				
			}
		}
		
	}
}

//concept
.concept
{
	.content-concept
	{

		.text
		{

			h2 
			{

			}
			h4 
			{

			}
			p 
			{	

			}
		}
		.picture
		{
			img 
			{

			}
		}
	}
}

//communication
.communi
{
	.content-communi
	{

		.text
		{

			h3 
			{

			}
			p 
			{

			}
		}
		.services
		{

			.service 
			{
	
				li 
				{

					h4 
					{

					}
					p
					{

					}
				}
				li:first-child
				{

					span 
					{
						i 
						{

						}
					}
				}
			}
		}
	}
}

//introduce
.introduce
{

	.content-introduce1
	{
		.app 
		{
			li 
			{
				h4
				{

				}
				img 
				{

				}
				p 
				{

				}
			}
		}
	}
	.content-introduce2
	{
		.app 
		{
			li 
			{
				h4
				{

				}
				img 
				{

				}
				p 
				{
					
				}
			}
		}
	}
	.content-introduce3
	{
		.app 
		{
			li 
			{
				h4
				{

				}
				img 
				{

				}
				p 
				{
					
				}
			}
		}
	}
	.content-introduce4
	{
		.app 
		{
			li 
			{
				h4
				{

				}
				img 
				{

				}
				p 
				{
					
				}
			}
		}
	}
}

//explore1
.explore1
{

	h3 
	{
		
	}
	p 
	{
		
	}
}

//power-software
.power-software
{

	.content-power
	{

		.system
		{

			.system-left
			{

				img 
				{

				}
			}
			.system-right
			{

				h2 
				{

				}
				h4 
				{

				}
				p 
				{

				}
			}
		}
		.features
		{

			.feat
			{

				.feat-left
				{

					i 
					{

					}
				}
				.feat-right
				{

					h4 
					{

					}
					p 
					{

					}
				}
			}
		}
	}
}
//amazing watch
.amazing-watch
{
	
	.content-amazing
	{
		
		.text
		{
			
			h2 
			{
			
			}
			p 
			{
				
			}
		}
		.picture
		{
			
			img 
			{
				
			}
		}
	}
}
//connect
.connect
{
	.content-connect
	{

		.text
		{

			h2 
			{

			}
			p 
			{

			}
			a 
			{

			}
		}
		img 
		{

		}
	}
}
//timepiece
.timepiece
{

	.content-timepiece
	{

		.text1
		{

			h2 
			{

			}
			h5 
			{

			}
		}
		.text2
		{
			p
			{

			}	
			a 
			{

			}

		}
		.picture
		{

			img 
			{
			}
		}
		
	}
}
//style
.style
{

	.content-style
	{

		.text
		{

			h2 
			{

			}
			p 
			{

			}
		}
		.picture
		{

			.pic-watch
			{

				img 
				{

				}
				p 
				{
				}
			}
		}
	}
}
//bands
.bands
{
	.content-bands
	{
		.picture
		{

			img 
			{

			}
		}
		.text
		{

			h2 
			{

			}
			p 
			{

			}
			a 
			{

			}
		}
	}
}
//explore2
.explore2
{

	h3 
	{
		
	}
	p 
	{
		
	}
}
//accessories
.accessories
{

	.content-accessories
	{
		.text
		{

			h2 
			{

			}
			p 
			{

			}
		}
		.picture
		{

			.pic 
			{

				li 
				{

					img 
					{

					}
					h5 
					{

					}
					a 
					{

					}

				}
				li:nth-child(3)
				{

    				#pr
					{

					}
					#line
					{

					}
					p 
					{
						
					}
				}
			}
		}
	}
}
//categories
.categories
{

	.content-categories
	{

		.cates
		{

			.picture1
			{

			}

		}
		.order
		{

			.content-order
			{

				.avai 
				{

					h2 
					{

					}
					p 
					{
						
					}
				}
				.btn
				{

					a 
					{

					}
				}
			}
		}
	}
}
//contact
.contact
{
	
	.content-contact
	{
		
		.location
		{
			
		}
		.learn-more
		{
			
		}
	}
}
//footer
.footer
{
	.content-footer
	{

		li 
		{
			
			p
			{
				
			}
		}
		li:first-child
		{
			display: flex;
			i 
			{
				
			}
		}
		li:last-child
		{
			p 
			{
				
			}
		}
	}
	.socials
	{

		li 
	    {

	        span 
	        {
	            a
	            {
	                i 
	                {

	                }
	            }
	        }
	    }
	}
	#myBtn
	{

		i 
		{
		
		}
	}
}