*
{
	margin: 0;
	padding: 0;
}
.menu-mobile
{
	display: none;
	width: 100%;
	margin-top: 50px;
    margin-bottom: -49px;
	ul 
	{
		background-color:#466bb6;
		li 
		{
			list-style: none;
			padding: 23px  0 23px  50px;	
			border-top:1px solid #6c8ac6;
			transition: 0.5s;
			a 
			{
				text-decoration: none;
				color: white;
				font-family: 'Lato', sans-serif;
			}
		}
		li:hover
		{
			background-color: #5a7bbf;
			cursor: pointer;
		}
	}
}